<!DOCTYPE html>
<html lang="ja" class="container-fluid" style="height:100%;">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{description}}">
    <meta name="author" content="Crafter Kina">
    <meta http-equiv="content-language" content="ja">
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <base href="{{rootPath}}">
    <link rel="icon" href="data:image/gif;base64,R0lGODlhCAAIAMIAACQkKERITHyAiMzU4CQkKCQkKCQkKCQkKCH5BAEKAAQALAAAAAAIAAgAAAMT
CLrcQLAJASuZZGgSqh7QJ45iAgA7">

    <title>{{title}}</title>
    <link rel="stylesheet" href="assets/third-party/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/theme.css">
    <link rel="stylesheet" href="assets/third-party/umi/css/bootstrap.min.css"> {{#each css}}
    <link rel="stylesheet" href="{{this}}"> {{/each}}
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>